{% extends "layout.html" %}

{% block content %}
    <main class="hero-section">
        <div class="container">
            <div class="section-content">
                <h2>Discover places near you.</h2>
                <a href="#" class="btn-primary">Sign up</a>
                <a href="#" class="btn-secondary">Learn more</a>
            </div>
            
            <div class="section-device">
                <img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjkzsSwlrzVAhUR6mMKHc4EAG4QjRwIBw&url=http%3A%2F%2Fwww.freepik.com%2Ffree-icon%2Fapple-logo_748451.htm&psig=AFQjCNEHVdB9bdKesC5PJ4zR49fHghOuxg&ust=1501887852086601">
            </div>
        </div>
    </main>
{% endblock %}